$color:#aeaeae;
$width:50px;
$height:50px;
body{
  background-color:$color;

}
div{
  width: $width;
  height: $height;
  background: url("../images/top.png") no-repeat top ;
  background-size: cover;
}