* {
    padding: 0;
    margin: 0;
}

a, a:hover, a:active {
    text-decoration: none;
}

a {
    color: #333;
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input:focus, a:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
img {
    width: 100%;
}
body{
    font-size: 32px;
    font-size: .32rem;
    max-width: 1080px;
    margin: 0 auto;
    background: #f6f6f6;
    font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.full-html, .full-html body {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

#views {
    max-width: 1080px;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-left: 1px solid #eee;
    border-right: 1px solid #eee
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.padding0 {
    padding: 0 !important;
}
.margin0 {
    margin: 0 !important;
}
.clearfix:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    font-size: 0;
    display: block;
}
@media screen and (min-width: 1080px) {
    #views, .navbar-absolute-top, .view-container, .navbar-absolute-bottom {
        max-width: 1080px;
        margin: 0 auto;

    }
}
.navbar-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1080px;
    min-width: 320px;
    line-height: 1.0rem;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}
.view-container {
    position: absolute;
    top: 1.0rem;
    bottom: 1.0rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    overflow: auto;
    z-index: 1000;
}
.navbar-absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 320px;
    border-top: 1px solid #eee;
    z-index: 1000;
}
.top-left {
    position: absolute;
    top: 0;
    left: 15px;
}
.top-left i {
    vertical-align: middle;
    line-height: inherit;
}
