<div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 xol-sm-2 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <hello></hello>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="邮箱" ng-model="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="用户名" ng-model="name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" ng-model="password">
                </div>

                <button class="form-control btn-primary" ng-click="ss.myClick()">获取值</button>
            </div>
        </div>
    </div>
</div>
