<!DOCTYPE html>
<html lang="en" class="full-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <title>index</title>
</head>
<link rel="stylesheet" href="../my-web/common/css/views.css">
<style>
    li{
        line-height: 1.2rem;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
</style>
<body>
<div id="views">

    <h1 class="navbar-absolute-top text-center">Hello NodeJs!</h1>
    <div class="view-container">

        <ul>
            <li>
                <a href="/login">登录</a>
            </li>
            <li>
                <a href="/register">注册</a>
            </li>
            <li>
                <a href="/jquery">jquery</a>
            </li>
            <li>
                <a href="/jQuery1">jQuery1</a>
            </li>
            <li>
                <a href="/angular">angular</a>
            <li>
                <a href="/video">video</a>
            </li>
            <li>
                <a href="sms:15827034150">信息</a>
            </li>
            <li>
                <a href="tel:15827034150">电话</a>
            </li>

        </ul>
    </div>
</div>

<script src="../my-web/common/js/views.js"></script>
</body>
</html>