<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<style>

</style>
<body>
<h1>Login </h1>
<form action="/home" method="post">
    <ul>
        <li>
            <label>用户名：</label>
            <input name="user" type="text">
        </li>
        <li>
            <label>密&nbsp;码：</label>
            <input name="pwd" type="password" value="123">
        </li>
        <li>
            <button type="submit" value="123">登录</button>
        </li>


    </ul>
</form>

</body>
</html>